body{
    /* margin: 0; */
    /* padding: 0; */
    background-color: rgb(213, 213, 240);
}
.circle{
    position: absolute;
    /* margin-right: auto; */
    right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 0% 25% 25%;
    background-color: aqua;
}
.circle1{
    position: relative;
    align-items: center;
    margin-top: 40px;
    padding-left: 100px;
    
    left: 40%;
    top: 100px;
    height: 150px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(241, 88, 88);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 10%;
  }

  .login {
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

  .login-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-header h2 {
    margin: 0;
  }

  .login-form {
    display: flexbox;
    margin: auto;
    flex-direction: column;
    margin: 10px;

  }

  .form-group {
    margin-bottom: 20px;
  }

  /* .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  } */

  /* .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }

  .form-group input[type="submit"]:hover {
    background-color: #45a049;
  }
  #password1{
    background-color: aqua;
  } */
  